.git
.gitignore
node_modules
vendor
storage/framework/cache/data
storage/framework/views
storage/logs
.env
.env.*
docker-compose.yml
Dockerfile
docker/nginx/**
tests
.idea
.vscode
*.sql
*.sqlite-journal
*.DS_Store

